.cards {
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
}
.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0px;
  margin: 0px;
  margin-top: 48px;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__image {
  height: 282px;
  width: 282px;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.card__heart-button {
  height: 18px;
  width: 21px;
  background: transparent url(../images/heart.png) center no-repeat;
  border: none;
}

.card__heart-button:hover {
  opacity: 0.5;
}
