.profile {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  padding-top: 40px;
}

.profile__picture {
  height: 120px;
  width: 120px;
  border-radius: 60%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}
.profile__name {
  font-family: "Inter", "Times New Roman", Arial, sans-serif;
  line-height: 48px;
  font-weight: 500;
  font-size: 42px;
  grid-area: name;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__description {
  font-family: "Inter", "Times New Roman", Arial, sans-serif;
  line-height: 22px;
  font-weight: 400;
  font-size: 18px;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}
.profile__text {
  display: grid;
  grid-template-areas:
    "name button"
    "description description";

  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 25px 16px;
  align-items: center;
}

.profile__pencil-button {
  height: 24px;
  width: 24px;
  grid-area: button;
  background: transparent url(../images/pencil.svg) center no-repeat;
  border: 1px solid white;
  cursor: pointer;
}

.profile__pencil-button:hover {
  opacity: 0.6;
}
.profile__plus-button {
  height: 50px;
  width: 150px;
  /*background: transparent url(../images/plus.png) center no-repeat;*/
  background: transparent url(../images/plus.svg) center no-repeat;
  border: 1px solid white;
  margin-left: auto;
  cursor: pointer;
}

.profile__plus-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 470px) {
  .profile {
    flex-direction: column;
  }

  .profile__text {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*padding-left: 62px;
    padding-right: 62px;*/
    justify-content: center;
    margin-top: 62px;
    font-size: 22px;
    line-height: 27px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 17px;
  }

  .profile__plus-button {
    margin: 0;
    width: 100%;
    max-width: 252px;
  }

  .profile__pencil-button {
    width: 18px;
    height: 18px;
  }

  .footer__copyright {
    padding-top: 50px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 410px) {
  .profile__name {
    font-family: "Inter", "Times New Roman", Arial, sans-serif;
    font-weight: 500;
    font-size: 22px;
    align-items: center;
    line-height: 27px;
  }

  .profile__description {
    font-family: "Inter", "Times New Roman", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    line-height: 17px;
  }

  .profile__picture {
    margin: 0;
  }
}
