.profile {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  padding-top: 40px;
}

.profile__picture {
  height: 120px;
  width: 120px;
  border-radius: 60%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}
.profile__name {
  font-family: "Inter", "Times New Roman", Times, serif;
  line-height: 48px;
  font-weight: 500;
  font-size: 42px;
  grid-area: name;
  margin: 0;
}

.profile__description {
  font-family: "Inter", "Times New Roman", Times, serif;
  line-height: 22px;
  font-weight: 400;
  font-size: 18px;
  grid-area: description;
  margin: 0;
}
.profile__text {
  display: grid;
  grid-template-areas:
    "name button"
    "description description";

  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 25px 16px;
  align-items: center;
}

.profile__pencil-button {
  height: 24px;
  width: 24px;
  grid-area: button;
  background: transparent url(../images/pencil.png) center no-repeat;
}

.profile__pencil-button:hover {
  opacity: 0.6;
}
.profile__plus-button {
  height: 50px;
  width: 150px;
  /*background: transparent url(../images/plus.png) center no-repeat;*/
  background: transparent url(../images/plus\ vector.png) center no-repeat;
  margin-left: auto;
}

.profile__plus-button:hover {
  opacity: 0.6;
  transform: rotate (45 deg);
}
