@import url(../vendor/font.css);
@import url(../vendor/normalize.css);
@import url(../blocks/card.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/footer.css);
@import url(../blocks/block.css);

@import url(../blocks/keyframes.css);
@import url(../blocks/cards.css);

@media screen and (max-width: 470px) {
  .profile {
    flex-direction: column;
  }

  .profile__text {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 62px;
    padding-right: 62px;
    justify-content: center;
    margin-top: 62px;
    font-size: 22px;
    line-height: 27px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 17px;
  }

  .profile__plus-button {
    margin: 0;
    width: 100%;
  }

  .profile__pencil-button {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 1100px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 800px) {
}
